<div class="photoBar block9">
    <div class="totalTitle">
        <div class="pageTitleContent">
            <div class="titleContentV">
            <div class="titleLogo">
                <div class="ico1 marginsIco"></div>
            </div>
            <div class="titleContent">
                <div class="vtitleContentTitle">{$title}</div>
                <div class="vtitleContentContent">{$titleContent.description}</div>
                <div class="vtitleContentContentM">
                     {$titleContent.text}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>