<script>
    {literal}
    $(document).ready(function(){
        $('.scrolNav2').click(function(){
            i=$(this).index()-1;
            scrolSchool2(i);
        });
    });
    {/literal}
</script>
<div class="courseContent s4">
    <div class="courseContentWind">
        <div class="courseContentTitle">
            <div class="courseContentTitleTitle">{$getTitle.title}</div>
            <span>{$getTitle.description}</span>
        </div>
        <div class="leftNaprList">
                    <div class="leftNaprListTile">специальности</div>
                    {$i=0}
                    {foreach from=$recommendSchoolList item=row}
                      <div class="leftNaprListRow scrolNav2">
                          <span>{$row.title}</span>
                          <div class="leftNaprListRowImg"></div>
                      </div>   
                    {$i=$i+1}
                    {/foreach}
        </div>
        <div class="scrollingWind2">
            <div id="pane3" class="scroll-pane2">
                    {$i=0}
                    {foreach from=$recommendSchoolList item=row}
                      <div class="textNaprSchool her{$i}">
                          <div class="rightNaprImgSchool"><img src="img/schoolimg/{$row.img}"></div>
                            {$row.text}
                      </div>
                    {$i=$i+1}
                    {/foreach}
            </div>
        </div>
    </div>
</div>