<div class="totalTitle">
    <div class="pageTitleContent">
        <div class="titleContentV">
        <div class="titleLogo">
            <div class="ico2 marginsIco"></div>
        </div>
        <div class="titleContent">
            <div class="vtitleContentTitle">{$getTitle.title}</div>
            <div class="vtitleContentContent">{$getTitle.description}</div>
            <div class="vtitleContentContentM">
                 {$schoolTitle.text}
            </div>
        </div>
        </div>
    </div>
</div>