<div style="max-width: 940px;">
    <img src="img/{$folder}{$getEmployee.photo}" style="max-height: 240px; max-width: 240px; margin-right: 15px; float: left;">
        <h2>{$getEmployee.name} {$getEmployee.patr}<br>{$getEmployee.family}</h2>
            {$getEmployee.text}
</div>