<script>
    {literal}
   $(document).ready(function(){
       load();
   });
    
    function load(){
  // Google Map Custom Marker Maker 2012
// Please include the following credit in your code

// Sample custom marker code created with Google Map Custom Marker Maker
// http://powerhut.co.uk/googlemaps/custom_markers.php

var point = new google.maps.LatLng({/literal}{$getContacts.map}{literal});

var myMapOptions = {
  zoom: 15,
  center: point,
  mapTypeControl: true,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById("map"),myMapOptions);

var image = new google.maps.MarkerImage(
  'marker-images/image.png',
  new google.maps.Size(62,75),
  new google.maps.Point(0,0),
  new google.maps.Point(31,75)
);

var shadow = new google.maps.MarkerImage(
  'marker-images/shadow.png',
  new google.maps.Size(104,75),
  new google.maps.Point(0,0),
  new google.maps.Point(31,75)
);

var shape = {
  coord: [38,0,41,1,43,2,45,3,47,4,49,5,50,6,51,7,52,8,53,9,54,10,55,11,56,12,56,13,57,14,58,15,58,16,59,17,59,18,60,19,60,20,60,21,61,22,61,23,61,24,61,25,61,26,61,27,61,28,61,29,61,30,61,31,61,32,61,33,61,34,61,35,61,36,61,37,61,38,61,39,61,40,61,41,61,42,61,43,61,44,61,45,61,46,61,47,61,48,61,49,61,50,61,51,61,52,61,53,61,54,61,55,61,56,61,57,61,58,61,59,61,60,61,61,61,62,61,63,61,64,61,65,61,66,61,67,61,68,61,69,59,70,56,71,53,72,49,73,45,74,25,74,25,73,24,72,24,71,23,70,23,69,22,68,21,67,21,66,20,65,19,64,18,63,18,62,17,61,16,60,15,59,14,58,13,57,12,56,11,55,10,54,9,53,8,52,7,51,7,50,6,49,5,48,4,47,4,46,3,45,3,44,2,43,2,42,1,41,1,40,1,39,0,38,0,37,0,36,0,35,0,34,0,33,0,32,0,31,0,30,0,29,0,28,0,27,0,26,0,25,0,24,0,23,0,22,1,21,1,20,1,19,2,18,2,17,3,16,3,15,4,14,4,13,5,12,6,11,7,10,8,9,9,8,10,7,11,6,12,5,14,4,15,3,17,2,20,1,23,0,38,0],
  type: 'poly'
};

var marker = new google.maps.Marker({
  draggable: false,
  raiseOnDrag: false,
  icon: image,
  shadow: shadow,
  shape: shape,
  map: map,
  position: point
});
}
{/literal}
</script>
<div class="contactsContent" id="map"></div>
