<div class="courseContent s2">
    <div class="courseContentWind">
        <div class="courseContentTitle">
            <div class="courseContentTitleTitle">{$entrantText.title}</div>
            <span>{$entrantText.description}</span>
        </div>
        <div class="scrollingWind1">
          <div id="pane1" class="scroll-pane1">
              <div class="leftNapr">{$entrantText.text}</div>
              <div class="rightNapr">
                    {$i=1}
                    {foreach from=$entrantImg item=row}
                    <div class="rightNaprImg{$i}"><img src="img/gallery/{$row.img}"></div>
                    {$i=$i+1}
                    {if $i>3}{$i=1}{/if}
                    {/foreach}
              </div>
          </div>
       </div>
    </div>
</div>